<%= simple_form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <%= f.association :team_admin, label_method: :full_name, value_method: :id %></p>
  <p><%= f.input :name, as: :text %></p>
  <p><%= f.input :city, as: :text %></p>
  <p><%= f.input :mascot, as: :text %></p>
  <p><%= f.input :primary_color, as: :text %></p>
  <p><%= f.input :secondary_color, as: :text %></p>
  <p><%= f.submit %></p>

<% end %>
