<h1>All Teams</h1>

<section id="first_section">
  <p id="notice"><%= notice %></p>

  <table>
    <thead>
      <tr>
        <th>Team</th>
        <th>Mascot</th>
        <th>Primary</th>
        <th>Secondary</th>
        <th>Owner</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><a href="/teams/<%= team.id %>"><%= team.teamcity %></a></td>
          <td><%= team.mascot %></td>
          <td><%= team.primary_color.capitalize %></td>
          <td><%= team.secondary_color.capitalize %></td>
          <td><%= team.team_admin.full_name %></td>
          <td><%= link_to 'Show', team %></td>

          <% if league_admin_signed_in? %>
            <td><%= link_to 'Edit', edit_team_path(team) %></td>
            <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Team', new_team_path %>
</section>
