<h1>Home Page</h1>


<% if league_admin_signed_in?  %>

  <section id="first_section">
  <div>
    <strong>Managers awaiting approval:</strong>
      <table>
        <% @teamadmins.each do |teamadmin| %>
          <tr>
            <td><%= teamadmin.email %></td>
            <td><%= teamadmin.full_name %></td>
            <td><%= link_to 'Edit', edit_team_admin_registration_path(teamadmin) %></td><br>
          </tr>
      </table>
    <% end %>
    </div>
    <div class="linebreak"></div>
    <ul>
      <li><%= link_to 'Add Team', new_team_path %></li>
      <li><%= link_to 'Add Game', new_game_path %></li>
      <li><%= link_to 'Edit Game', games_path %></li>
    </ul>
  </section>

<% end  %>

<h2>Upcoming Games</h2>
  <section id="second_section">
    <div class='blog'>
      <%= render partial: 'games/schedule' %>
    </div>
  </section>

<h2>News Posts</h2>
  <section id="third_section">
    <div>
      <%= render partial: 'posts/recent' %>
    </div>
</section>
