<h1>Home Page</h1>


<% if league_admin_signed_in?  %>

  <section id="first_section">
    Managers awaiting approval:
      <table>
        <% @teamadmins.each do |teamadmin| %>
          <tr>
            <% if !teamadmin.approved %>
              <td><%= teamadmin.email %></td>
              <td><%= teamadmin.full_name %></td>
              <td><%= link_to 'Approve', approve_team_manager_path(teamadmin), method: :patch
              %></td>
            <% end %>
          </tr>
      </table>
    <% end %>
    <br>
    <%= link_to 'Edit Homepage', root_path %><br>
    <%= link_to 'Add Team', new_team_path %><br>
      <!-- edit_team_path does not work because no reference to team #, need to make landing page to choose team -->
    <%= link_to 'Add Game', new_game_path %><br>
    <%= link_to 'Edit Game', games_path %><br>

  </section>

<% end  %>


<h2>Upcoming Games</h2>

  <section id="second_section">
    <div class='blog'>
      <%= render partial: 'games/schedule' %>
    </div>
  </section>

<h2>News Posts</h2>
  <section id="third_section">
    <div>
      <%= render partial: 'posts/recent' %>
    </div>
</section>
