<table>
  <thead>
    <tr>
      <th>Away Team</th>
      <th>Home Team</th>
      <th>Game Date</th>
      <th>Game Time</th>
    </tr>
  </thead>
<% @games.each do |game| %>
        <tr>
          <td><%= game.away_team.city %> <%= game.away_team.name %></td>
          <td>at</td>
          <td><%= game.home_team.city %> <%= game.home_team.name%></td>
          <td><%= game.date_time.strftime('%m/%d/%y') %></td>
          <td><%= game.date_time.strftime('%H:%M') %></td>
          <td><%= link_to 'Game Info', game %></td>
          <% if team_admin_signed_in? %>
            <td><%= link_to 'Edit', edit_game_path(game) %></td>
            <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>

</table>
