<table>
  <thead>
    <tr>
      <th>Away Team</th>
      <th>Home Team</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>

<% @games.each do |game| %>
        <tr>
          <td><%= game.away_team.city %> <%= game.away_team.name %></td>
          <td>at <%= game.home_team.city %> <%= game.home_team.name%></td>
          <td><%= game.date_time.strftime('%m/%d/%y') %></td>
          <td><%= game.date_time.strftime('%l:%M %p %Z') %></td>
          <td><button><%= link_to 'Game Info', game %></button></td>
          <% if league_admin_signed_in? %>
            <td><button><%= link_to 'Edit', edit_game_path(game) %></button></td>
            <td><button><%= link_to 'Remove', game, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
          <% end %>
        </tr>
      <% end %>

</table>
