<div id="inside">
  <section id="game_section">
    <div class="inner_container"></div>
      <h2><strong><%= @game.date_time.month %>/<%= @game.date_time.day %>/<%= @game.date_time.year %> @ <%= @game.date_time.hour %>:<%= @game.date_time.min %></strong></h2>
      <div class="linebreak"></div>

      <div class="left">
        <h2><strong>Away Team</strong></h2>
        <h3><%= @game.away_team.city %> <%= @game.away_team.name %></h3>
      </div>
      <h3 id='vs'>vs</h3>

      <div class="right">
        <h2><strong>Home Team</strong></h2>
        <h3><%= @game.home_team.city%> <%= @game.home_team.name %></h3>
      </div>
    </div>
  </section>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
</div>
