<section id="game_section">
  <div class="inner_container"></div>
    <div><strong>Game starts at <%= @game.game_time %> on <%= @game.game_date.month %>/<%= @game.game_date.day %>/<%= @game.game_date.year %></strong></div>
    <div class="linebreak"></div>

    <div class="left">
      <div><strong>Away Team</strong></div>
      <div><%= @game.away_team.city %> <%= @game.away_team.name %></div>
    </div>
    <span>vs</span>

    <div class="right">
      <div><strong>Home Team</strong></div>
      <div><%= @game.home_team.city%> <%= @game.home_team.name%></div>
    </div>
  </div>
</section>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
