<div id="containinside">
  <section id="game_section">
    <div class="inner_container"></div>
      <h2><strong><%= @game.date_time.strftime('%m/%d/%y') %> @ <%= @game.date_time.strftime('%H:%M') %></strong></h2>
      <div class="linebreak"></div>

      <div class="left">
        <h2><strong>Away Team</strong></h2>
        <h3><%= @game.away_team.city %> <%= @game.away_team.name %></h3>
      </div>
      <h3 id='vs'>vs</h3>

      <div class="right">
        <h2><strong>Home Team</strong></h2>
        <h3><%= @game.home_team.city%> <%= @game.home_team.name %></h3>
      </div>
    </div>
  </section>
  <% if league_admin_signed_in? %>
    <%= link_to 'Edit', edit_game_path(@game) %> |
    <%= link_to 'Back', games_path %>
  <% end %>
</div>
