<p id="notice"><%= notice %></p>

<h1>Full Roster</h1>

<section id="first_section">
  <button style="float:right;"><%= link_to 'New Player', new_player_path %></button>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Jersey</th>
        <th>Team</th>
        <th>Position</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= player.full_name %></td>
          <td><%= player.jersey_number %></td>
          <% team = Team.find(player.team_id) %>
          <td><%= team.name %></td>
          <td><%= player.position %></td>
          <td><button><%= link_to 'Show', player %></button></td>
          <% if team_admin_signed_in? %>
          <td><button><%= link_to 'Edit', edit_player_path(player) %></button></td>
          <td><button><%= link_to 'Release', player, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</section>
