
<section id="first_section">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>First name:</strong>
    <%= @player.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @player.last_name %>
  </p>

  <p>
    <strong>Jersey number:</strong>
    <%= @player.jersey_number %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= @player.team_id %>
  </p>

  <button><%= link_to 'Edit', edit_player_path(@player) %></button> |
  <button><%= link_to 'Back', players_path %></button>
</section>
