<% @posts.each do |post| %>
  <div class='post-container'>
    <% @team = Team.find(post.team_id) %>
    <b><a href="/teams/<%= @team.id %>"><%= post.title %></a></b><br>
    <%= post.content %>
    <% if team_admin_signed_in? %>
      <% if current_team_admin.id == post.author_id %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
    <br><br>
  </div>
<% end %>
