<% if team_admin_signed_in? %>
  <button id="new"><%= link_to 'Edit', edit_post_path(@post) %></button>
<% end %>
<% team = @post.team.id %>
<section id="first_section">
  <p id="notice"><%= notice %></p>

  <p style="float:left;">
    <strong>Author:</strong>
    <%= @post.author.full_name %>
    <strong>Created At:</strong>
    <%= @post.readable_date %>
  </p><br><br>

  <strong style="float:left;">Team:</strong><br>
  <%= @post.team.name %><br><br>

  <strong style="float:left;">Title:</strong><br>
  <%= @post.title %><br><br>

  <strong style="float:left;">Content:</strong><br>
  <%= @post.content %>

</section>
<button><%= link_to 'Back', team_path(team) %></button>
