<%= simple_form_for @trade, input_html: { class: 'new_trade' }   do |f| %>
  <% if @trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade.errors.count, "error") %> prohibited this trade from being saved:</h2>
      <ul>
      <% @trade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.association :proposing_team, input_html: {class: 'proposing_team_trade'} %>
  <%= f.association :accepting_team, input_html: {class: 'accepting_team_trade'}%>
  <%= f.submit %>

<% end %>
