<p id="notice"><%= notice %></p>
<h1>Accept or Decline Trade</h1>

<section style="text-align:center;">
  <%= render 'details' %>

  <br>
  <button><%= link_to 'Back', trades_path %></button>
  <button><%= link_to 'Accept', trade_accept_path(@trade), method: :patch %></button>
  <button><%= link_to 'Decline', trade_path(@trade)%></button>
</section>
