<h1>All Trades</h1>

<section id="first_section">
      <% @trades.each do |trade| %>
        <div>Trade made on <%= trade.updated_at.strftime('%m/%d/%y') %></div>
        <strong><%= trade.proposing_team.name %>: </strong>
          <%trade.trade_players.each do |trade_player|  %>
             <%if trade_player.player.team == trade.proposing_team%>
                <%= trade_player.player.full_name %>,
            <% end %>
          <% end %><br>
        <strong><%= trade.accepting_team.name %>: </strong>
         <%trade.trade_players.each do |trade_player|  %>
             <%if trade_player.player.team == trade.accepting_team%>
                <%= trade_player.player.full_name %>,
            <% end %>
          <% end %>
      <% end %>
      <div class="linebreak"></div>
</section>
<% if team_admin_signed_in? %>
  <h2><a href="/trades/new">Create New Trade</a></h2>
<% end %>
