<h1>Listing Trades</h1>

<section id="first_section">
  <table>
    <thead>
      <tr>
        <th>Proposing team</th>
        <th>Accepting team</th>
        <th>Accepted</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @trades.each do |trade| %>
        <tr>
          <td><%= trade.proposing_team_id %></td>
          <td><%= trade.accepting_team_id %></td>
          <td><%= trade.accepted %></td>
          <td><%= link_to 'Show', trade %></td>
          <td><%= link_to 'Edit', edit_trade_path(trade) %></td>
          <td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
