<p id="notice"><%= notice %></p>

<p>
  <strong>Proposing team:</strong>
  <%= @trade.proposing_team_id %>
</p>

<p>
  <strong>Accepting team:</strong>
  <%= @trade.accepting_team_id %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @trade.accepted %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
