<!DOCTYPE html>
<html>
<head>
  <title>NHL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body id="bootstrap-overrides">

  <div id='containinside'>
  <%= render 'layouts/header' %>

  <nav class="navbar navbar-inverse" style="width:100%;">
    <div class="container-fluid">
      <div class="navbar-header">
        <% if league_admin_signed_in? %>
          <a class="navbar-brand" href="/">Welcome, <%= current_league_admin.full_name %>. League Administrator.</a>
        <% elsif team_admin_signed_in? %>
          <a class="navbar-brand" href="/">Welcome, <%= current_team_admin.full_name %>. <%= Team.find_by(team_admin_id: current_team_admin.id).name %> Manager</a>
        <% end %>
      </div>
      <ul class="nav navbar-nav" style="float:right;">
        <li><a href="/">Home</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/games">Schedule</a></li>
        <li><a href="/players">Roster</a></li>
        <% if league_admin_signed_in? || team_admin_signed_in? %>
          <li><%= link_to('Logout', destroy_league_admin_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Register', new_league_admin_registration_path) %></li>
          <li><%= link_to('Login', new_league_admin_session_path ) %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= yield %>
  </div>
</body>

</html>
