<!DOCTYPE html>
<html>
<head>
  <title>NHL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id='inside'>
  <section class="header">
    <a href="/"><img src="/assets/05_NHL_Shield.svg.png" alt="logo"/></a>
    <a href="/"><h1>NHL</h1></a>
  </section>
  <nav>
    <a href='/'>Home</a>
    <a href='/teams'>Teams</a>
    <a href='/games'>Schedule</a>
    <a href='/players'>Roster</a>
    <% if league_admin_signed_in? %>
      <%= link_to('Logout', destroy_league_admin_session_path, :method => :delete) %>
    <% else %>
      <%= link_to('Login', new_league_admin_session_path ) %>
    <% end %>
  </nav>
<%= yield %>
</div>
</body>

</html>
